div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../../assests/images/face_book_icon.png);
    background-size: 100%;
    border: 5px double red;
    padding: 15px;
}
#box{
    /* background-color: red; */
    /* transition: width 5s ,height 5s,background-color 2s ,border-radius 2s; */
    /* transition-property: all; 
    transition-duration: 2s; */
    /* transition-property: width 5s; */
    /* transition-property: width,height;
    transition-duration: 10s,2s; */
    cursor: pointer;
}
#box:hover{
    width: 200px;
    height: 200px;
    /* background-color: darkblue; */
    border-radius: 50%;
    background-image: url(../../assests/images/google_icon.png);
    background-size: 100%;
}


/* ping wing
blue color mountain (one small,one large)
*/