#container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(teal,blue);
}
input{
    width: 25rem;
    height: 3rem;
    margin-right: 1rem;
}
img{
    width: 2rem;
}
