/* a{
    margin-right: 5px;
}
a:link{
    color: orange;
}
a:visited{
    color: cadetblue;
}
a:active{
    color: thistle;
    background-color: azure;
}
a:hover{
    background-color: black;
    color: whitesmoke;
} */
/* a:first-child{
    background-color: cadetblue;
} */
/* a:last-child{
    background-color: chartreuse;
}

div:first-child {
    background-color: red;
}
div:last-child{
    color: yellow;
    background-color: whitesmoke;
} */
input:required{
    background-color: red;
}
input:checked{
    width: 100px;
    height: 100px;
    transform: scale(2);
    /* background-color: red;   it is not working*/ 
}
input:focus{
    outline: none;
    border: 5px solid darkblue;
}